.container {
    height: 100vh;
    width: 100vw;
}

.container-cropper {
    height: 87%;
    padding: 3px;
}

.cropper {
    height: 90%;
    position: relative;
}

.slider {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.container-buttons {
    border: 2px solid #2fe218;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactEasyCrop_CropArea {
    border-radius: 50%;
}